body{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #333;
  color: rgba(0,0,0,0.5);
}

.title {
  font-size: 6.0rem;
  margin-top: -20%;
}

#section0 {
  background: url(../img/Us.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}
h1{
  font-size: 3em; 
}
p, h2{
  font-size: 2em;
}
h2{
  color:inherit;
}
.section{
  text-align:center;
}


/* Menu Styling */
#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px; 
            border-radius: 10px; 
}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  background-color: white;
  padding: 0 0 15px 0;
}
/* End Menu Styling */


#section0 img,
#section1 img{
  margin: 20px 0 0 0;
} 
#section2 img{
  margin: 20px 0 0 52px;  
}
#section3 img{
  bottom: 0px;
  position:absolute;
  margin-left: -420px;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
#fullPage-nav{
  position: absolute;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}
#fullPage-nav li{
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
}
#fullPage-nav li a{
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fullPage-nav li .active span{
  background: #333;
}
#fullPage-nav span{
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}